<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="text-center">
      <h1><span><i class="fa-solid fa-camera-retro"></i>PhotoExhibition</span></h1><br>
    </div>
    <h5 class="text-center">人と人の繋がり、様々な作品と出会えるように<br><br>
        PhotoExhibitionはオンラインの写真展です。<br>
        ぜひ、たくさんの作品をご覧ください！
    </h5><br><br>
    <h5 class="text-center">
      <% if user_signed_in? %>
        <i class="fa-solid fa-image"></i>→<%= link_to '作品を投稿する', new_exhibition_path, class: "header-link" %>
      <% else %>
        <p>※展示するには会員登録が必要です。<br>
          →<%= link_to "sign up", new_user_registration_path, class: "header-link" %></p>
        <p>または、ログインしてください。<br>
          →<%= link_to "log in", new_user_session_path, class: "header-link" %></p>
      <% end %>
    </h5><br><br>

    <h1 class="text-center">~Gallery~</h1><br>
    <div class="zoomIn"><a href="#"><span class="mask">
      <ul class="gallery">
        <% @exhibition.each do |exhibition|%>
          <div class="fadeUp">
            <%= link_to exhibition_path(exhibition.id) do %>
              <li><%= image_tag exhibition.get_image(600,600) %></li>
            <% end %>
          </div>
        <% end %>
      </ul>
    </span></a></div>
  </div>
</div>
