<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto pt-5">
        <div class="card shadow">
          <div class="card-body text-center pt-5">
              <%= form_with model: @exhibition do |f| %>
                <%= f.file_field :image, accept: "image/*"%><br><br>
                <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
                <%= f.text_area :introduction, placeholder: "キャプション", class: "form-control" %><br>
                <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "カテゴリー選択"}, {class: "form-control input-sm"} %><br>
                <%= f.submit '展示する', class: "btn btn-sm btn-success"%>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>