<div class="col-9 col-md-6 col-lg-4 mx-auto pt-5">
  <div class="card shadow">
    <div class="card-body text-center pt-5">
      <h2>作品を展示</h2><br><br>
      <!--バリデーションの設定-->
      <% if @exhibition.errors.any? %>
        <%= @exhibition.errors.count %>件のエラーが発生しました
        <ul>
          <% @exhibition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @exhibition do |f| %>
        <%= f.file_field :image, accept: "image/*"%><br><br><br>
        <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        <%= f.text_area :introduction, placeholder: "キャプション", class: "form-control" %><br>
        <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "カテゴリー選択"}, {class: "form-control input-sm"} %><br><br>
        <input class="btn-form-gray" type="submit" value="展示する"></p><br>
      <% end %>
    </div>
  </div>
</div>
