<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-10 mx-auto">
        <div class="text-center">
          <p><%= image_tag @exhibition.get_image(600,600) %></p><br>
        </div>
      </div>
      <div class="col-11 col-md-6 col-lg-6 mx-auto">
        <div class="text-center">
          <p><%= image_tag @exhibition.user.get_profile_image(600, 600), class: "rounded-circle", size: "50x50" %>  <%= @exhibition.user.name %></p>
          <p>「<%= @exhibition.title %>」</p>
          <p><%= @exhibition.introduction %></p>
          <table align="center">
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>
                <div id="favorite_buttons_<%= @exhibition.id %>">
                <!--いいねの部分テンプレート-->
                <%= render "public/favorites/favorites", exhibition: @exhibition %>
                </div>
              </td>
              <td>
                <!--コメント機能-->
                <%= link_to comments_exhibition_path(@exhibition) do %>
                  <i class="fa-solid fa-comment-dots fa-2x" style="color: silver;"></i>
                <% end %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>