<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <div class="card shadow">
          <div class="card-body text-secondary text-center">
            <h1>会員情報変更</h1>
              <%= form_with model: @user do |f| %>
                <p><%= f.text_field :name %></p>
                <p><%= f.text_field :email %></p>
                <p><%#= f.text_field :profile %></p>
                <%= f.submit '保存' %>
                <%= f.submit '退会' %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
