<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <% if @user.exhibitions.size > 0 %>
          <!--投稿した画像のスライド-->
          <ul class="slider2">
            <% @user_exhibitions.each do |exhibition| %>
              <%= link_to exhibition_path(exhibition.id) do %>
                <%= image_tag exhibition.get_image(600,600) %>
              <% end %>
            <% end %>
        <% else %>
            <p class=text-center>まだ投稿はありません</p>
          </ul>
        <% end %>
      </div>

      <div class="col-4">
        <h4><strong><i class="fa-solid fa-address-card"></i> Profile</strong></h4><br>
        <p><%= image_tag @user.get_profile_image(600, 600), class: "rounded-circle", size: "100x100" %></p>
        <p><i class="fa-solid fa-user"></i> <%= @user.name %></p>

        <!--フォロー機能の部分テンプレート-->
        <div id="follow_btn_<%= @user.id %>">
          <%= render "public/follow/follow", user: @user %>
        </div>

        <p><i class="fa-solid fa-comment"></i><br> <%= @user.profile %></p>
        <p><i class="fa-solid fa-arrow-up-right-from-square"></i><br> <%= @user.extemal_link %></p>
        <p><i class="fa-solid fa-camera-retro"></i> <%= link_to '展示作品', exhibitions_user_path(@user), class: "link" %></p>
        <p><i class="fa-solid fa-heart"></i> <%= link_to 'いいねした作品', favorites_user_path(@user), class: "link" %></p>
        <p>タイムライン</p>

        <!--ログインユーザー以外は編集・公開非公開にできないようにする-->
        <% if @user == current_user %>
          <p><%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-outline-secondary" %>
          <!--<p><i class="fa-solid fa-key"></i>アカウントの公開設定-->
          <!--  <%# if @user.released? %>-->
          <!--    <%#= link_to ' 非公開にする', users_nonrelease_path(@user), method: :patch%>-->
          <!--  <%# else %>-->
          <!--    <%#= link_to '公開する', users_release_path(@user), method: :patch%>-->
          <!--  <%# end %>-->
          <!--</p>-->
        <% end %>
        <!--ゲストはプロフィール編集できないようにする-->
        <% if @user.name != "guestuser" %>
          <div class='row'>
            <%= link_to '', edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>