<div class=" d-flex align-items-center justify-content-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 col-lg-6 mx-auto">
        <h1>マイページ</h1>
          <%= link_to '展示一覧', exhibitions_path %>
          <%= @user.nickname %>
          <%= @user.profile %>
          <%= @user.extemal_link %>
          <%= link_to 'いいね一覧', favorites_user_path(@user) %>
          
          <!--ゲストはプロフィール編集できないようにする-->
          <% if @user.name != "guestuser" %>
              <%= link_to '会員情報編集', edit_user_path, class: "btn btn-sm btn-success" %>
          <% end %>
          
      </div>
    </div>
  </div>
</div>
