<!DOCTYPE html>
<html>
  <head>
    <title>PhotoExhibition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/3a91f848bc.js" crossorigin="anonymous"></script>
  </head>

    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="/">rogo</a>
          <button class="navbar-toggler" type="button" data-toggler="collapse"data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= search_form_for @search, url: search_exhibitions_path do |f| %>
                    <%= f.search_field :title_cont,placeholder: '検索するテキストを入力...' %>
                    <%= f.submit '検索' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "about", about_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to 'exhibition', categories_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to 'exhibitor', users_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to 'my page', user_path(current_user.id), class: "header-link" %>
                </li>
                <li>
                  <%= link_to '作品を投稿', new_exhibition_path, class: "header-link" %>
                </li>
                <li>
                <li>
                  <%= link_to "log out", destroy_user_session_path, method: :delete, class: "header-link" %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "user", admin_users_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to "category", admin_categories_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to "log out", destroy_admin_session_path, method: :delete, class: "header-link" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "about", about_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to "guest", users_guest_sign_in_path, method: :post, class: "header-link" %>
                </li>
                <li>
                  <%= link_to "sign up", new_user_registration_path, class: "header-link" %>
                </li>
                <li>
                  <%= link_to "log in", new_user_session_path, class: "header-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
</html>


