<!DOCTYPE html>
<html>
  <head>
    <title>PhotoExhibition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/3a91f848bc.js" crossorigin="anonymous"></script>
  </head>

    <header class="sticky-top"> <!--sticky-topでheader固定-->
      <nav class="navbar">
        <a class="navbar-brand" href="/">PhotoExhibition</a>
            <% if user_signed_in? %>
          <ul class="center-ul">
              <li class="center-list">
                <%= link_to "about", about_path, class: "header-link" %>
                <p class="list-text"><%= link_to "-概要-", about_path, class: "header-link" %></p>
              </li>
              <li class="center-list">
                <%= link_to 'exhibition', categories_path, class: "header-link" %>
                <p class="list-text"><%= link_to '-展示一覧-', categories_path, class: "header-link" %></p>
              </li>
              <li class="center-list">
                <%= link_to 'exhibitor', users_path, class: "header-link" %>
                <p class="list-text"><%= link_to '-展示者-', users_path, class: "header-link" %></p>
              </li>
          </ul>
          <ul class="right-ul">
            <!--<li>-->
            <!--  <table>-->
            <!--    <div class="search_container">-->
            <!--      <%#= search_form_for @q, url: search_exhibitions_path do |f| %>-->
            <!--    <tr>-->
            <!--      <th></th>-->
            <!--      <th></th>-->
            <!--    </tr>-->
            <!--    <tr>-->
            <!--      <td>-->
            <!--        <div class="search-text">-->
            <!--         <%#= f.search_field :title_cont,placeholder: '検索するテキストを入力...', class: "form-control"%>-->
            <!--        </div>-->
            <!--      </td>-->
            <!--      <td><input class="search-btn" type="submit" value="検索"></td>-->
            <!--    </tr>-->
            <!--    <%# end %>-->
            <!--  </table>-->
            <!--    </div>-->
            <!--  </li>-->
            <li>
                <%= link_to 'my page', user_path(current_user.id), class: "header-link" %>
              </li>
              <li>
                <%= link_to '作品を投稿', new_exhibition_path, class: "header-link" %>
              </li>
              <li>
              <li>
                <%= link_to "log out", destroy_user_session_path, method: :delete, class: "header-link" %>
              </li>
          </ul>
            <% elsif admin_signed_in? %>
          <ul class="center-ul">
              <li class="center-list">
                <%= link_to "user", admin_users_path, class: "header-link" %>
              </li>
              <li>
                <%= link_to "category", admin_categories_path, class: "header-link" %>
              </li>
          </ul>
          <ul class="right-ul">
              <li>
                <%= link_to "log out", destroy_admin_session_path, method: :delete, class: "header-link" %>
              </li>
          </ul>
            <% else %>
            <ul class="center-ul">
              <li class="center-list">
                <%= link_to "about", about_path, class: "header-link" %>
                <p class="list-text"><%= link_to "-概要-", about_path, class: "header-link" %></p>
              </li>
              <li class="center-list">
                <%= link_to 'exhibition', categories_path, class: "header-link" %>
                <p class="list-text"><%= link_to '-展示一覧-', categories_path, class: "header-link" %></p>
              </li>
              <li class="center-list">
                <%= link_to 'exhibitor', users_path, class: "header-link" %>
                <p class="list-text"><%= link_to '-展示者-', users_path, class: "header-link" %></p>
              </li>
          </ul>
          <ul class="right-ul">
              <li>
                <%= link_to "sign up", new_user_registration_path, class: "header-link" %>
              </li>
              <li>
                <%= link_to "log in", new_user_session_path, class: "header-link" %>
              </li>
          </ul>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
</html>


