<!DOCTYPE html>
<html>
  <head>
    <title>PhotoExhibition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/3a91f848bc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
  </head>

  <header class="sticky-top"> <!--sticky-topでheader固定-->
    <nav class="navbar">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-camera-retro"></i>PhotoExhibition</a>
      <% if user_signed_in? %>
      <ul class="center-ul">
        <li class="center-list">
          <%= link_to "about", about_path, class: "header-link" %>
          <p class="list-text"><%= link_to "-概要-", about_path, class: "header-link" %></p>
        </li>
        <li class="center-list">
          <%= link_to 'exhibition', categories_path, class: "header-link" %>
          <p class="list-text"><%= link_to '-展示一覧-', categories_path, class: "header-link" %></p>
        </li>
        <li class="center-list">
          <%= link_to 'exhibitor', users_path, class: "header-link" %>
          <p class="list-text"><%= link_to '-展示者-', users_path, class: "header-link" %></p>
        </li>
        </ul>
        <!--グローバルナビゲーション-->
        <div class="openbtn"><span></span><span></span><span></span></div>
        <nav id="g-nav">
          <ul>
            <li>
              <!--検索機能-->
              <div class="search_container">
                <%= search_form_for @q, url: search_exhibitions_path do |f| %>
                  <table>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>
                        <div class="search-text">
                         <%= f.search_field :title_cont, placeholder: 'テキストを入力', class: "form-control",data: {"turbolinks"=>false} %>
                        </div>
                      </td>
                      <td><input class="search-btn" type="submit" value="検索"></td>
                    </tr>
                  </table>
                <% end %>
              </div>

            </li>
            <li>
              <%= link_to 'my page', user_path(current_user.id), class: "header-link" %>
            </li>
            <li>
              <%= link_to '作品を投稿', new_exhibition_path, class: "header-link" %>
            </li>
            <li>
              <%= link_to "log out", destroy_user_session_path, method: :delete, class: "header-link" %>
            </li>
          </ul>
        </nav>
      <% elsif admin_signed_in? %>
        <ul class="center-ul">
          <li class="center-list">
            <%= link_to "user", admin_users_path, class: "header-link" %>
          </li>
          <li class="center-list">
            <%= link_to "category", admin_categories_path, class: "header-link" %>
          </li>
        </ul>
        <ul class="right-ul">
          <li>
            <%= link_to "log out", destroy_admin_session_path, method: :delete, class: "header-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="center-ul">
          <li class="center-list">
            <%= link_to "about", about_path, class: "header-link" %>
            <p class="list-text"><%= link_to "-概要-", about_path, class: "header-link" %></p>
          </li>
          <li class="center-list">
            <%= link_to 'exhibition', categories_path, class: "header-link" %>
            <p class="list-text"><%= link_to '-展示一覧-', categories_path, class: "header-link" %></p>
          </li>
          <li class="center-list">
            <%= link_to 'exhibitor', users_path, class: "header-link" %>
            <p class="list-text"><%= link_to '-展示者-', users_path, class: "header-link" %></p>
          </li>
        </ul>
        <ul class="right-ul">
          <li>
            <%= link_to "sign up", new_user_registration_path, class: "header-link" %>
          </li>
          <li>
            <%= link_to "log in", new_user_session_path, class: "header-link" %>
          </li>
        </ul>
      <% end %>
      </div>
    </nav>
  </header>
  <main class="mb-auto">
    <%= yield %>
  </main>
</html>


